<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-protime-dev-westeurope.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5b5d0d9d-60bd-4312-aa56-2aa83a0dca9c/resourceGroups/rg-protime-dev-westeurope/providers/Microsoft.Web/sites/func-protime-dev-westeurope</ResourceId>
    <UserName>$func-protime-dev-westeurope</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-protime-dev-westeurope.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>